nav {
  background-color: rgb(29, 23, 23);
  box-shadow: 0 0 2px 2px rgb(14, 12, 12);
}
a {
  color: black;
}
.hover:hover {
  color: yellow;
}
.home h1 {
  font-size: 60px;
}
.home h3 {
  font-size: 45px;
}
.about-heading-img {
  border-radius: 300px;
}
.button {
  border: 3px solid wheat;
  border-radius: 30px;
  text-decoration: none;
  color: whitesmoke;
  padding: 3px 15px;
}
.button:hover {
  background-color: black;
  color: white;
}
.home img {
  border-radius: 200px;
  width: 100%;
}
#home {
  padding: 90px 50px;
  background-image: url(img/black-abstract-background-web-sites-260nw-1500865019.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 770px) {
  #home img {
    width: 100%;
  }
  #home {
    margin-top: -30px;
  }
}
.arrow {
  margin-top: 20px;
  text-decoration: none;
}
#arrow-img {
  animation: 2s arrow infinite;
}
@media only screen and (max-width: 400px) {
  .arrow {
    padding-bottom: 75px;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
/* ABOUT */
#about {
  padding: 100px 50px;
  background-color: black;
  color: wheat;
}
#contact {
  padding: 80px 50px;
}
/* GALLERY */
.card-dark {
  border: 1px solid white;
  padding: 15px 15px;
}
#gallery {
  padding: 60px 50px 60px 30px;
  background-color: black;
  padding-bottom: 100px;
}
.work h1 {
  font-size: 60px;
}
.card img {
  width: 100%;
}
#work-1 {
  grid-area: work-1;
}
#work-2 {
  grid-area: work-2;
}
#work-3 {
  grid-area: work-3;
}
.work-img-item {
  position: relative;
}
.work-img-item:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 500px;
}
#work-1:hover::after {
  content: 'Website Company Profile';
}
#work-2:hover::after {
  content: 'Website Portfolio';
}
#work-3:hover::after {
  content: 'Simple Aplication Library';
}
#work-1-pp:hover::after {
  content: 'Juara 1 Geografi Event Islamic Science Olimpyc';
  text-align: center;
}
#project-img {
  margin-top: 400px;
}
body {
  background-color: black;
}
/* CONTACT */
#contact {
  background-color: blue;
}
#contact form {
  border: 2px solid black;
  padding: 40px 30px;
  background-color: rgb(175, 173, 169);
}
#contact a {
  text-decoration: none;
}
.img-icon-ig {
  margin-left: 3px;
}
.button-send:hover {
  background-color: green;
  color: white;
}
@media only screen and (max-width: 400px) {
  #about {
    margin-top: -80px;
  }
  #work {
    margin-top: -120px;
  }
  #contact {
    margin-top: -80px;
  }
}
