nav {
  background: transparent;
  background-color: rgb(87, 0, 168);
  box-shadow: 0 0 2px 2px rgb(14, 12, 12);
}
.nav-link:hover {
  color: yellow;
}
nav a {
  font-family: 'Agbalumo', cursive;
  color: white;
}
nav a:hover {
  color: yellow;
  text-decoration: underline;
  font-weight: bold;
}
/* HOME */
.home h2 {
  font-size: 60px;
  font-family: 'Agbalumo';
}
.home h4 {
  padding-top: 15px;
  font-size: 40px;
  font-family: 'Kdam Thmor Pro';
}
.about-heading-img {
  border-radius: 300px;
}
.button {
  color: white;
  padding: 7px 8px;
  border: 5px rgb(87, 0, 168) solid;
  text-decoration: none;
  border-radius: 10px;
}
.button:hover {
  background-color: yellow;
  color: black;
  border: 5px yellow solid;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.img-home {
  border-radius: 200px;
  width: 100%;
  border: 5px solid whitesmoke;
}
#home {
  padding: 70px 50px 100px 50px;
  background-image: url(img/black-abstract-background-web-sites-260nw-1500865019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 770px) {
  #home img {
    width: 100%;
  }
  #home {
    margin-top: -30px;
  }
  .home h2 {
    font-size: 40px;
    font-family: 'Agbalumo';
  }
}
.arrow {
  margin-top: 20px;
  text-decoration: none;
}
#arrow-img {
  animation: 2s arrow infinite;
  width: 50px;
}
@media only screen and (max-width: 400px) {
  .arrow {
    padding-bottom: 75px;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
/* ABOUT */
#about {
  padding: 100px 50px;
  background-color: black;
  color: wheat;
}
.title-about {
  font-family: 'Agbalumo', cursive;
}
.title-about-2 {
  font-family: 'Playfair Display';
  color: rgb(87, 0, 168);
}
#contact {
  padding: 80px 50px;
}
/* GALLERY */
.title-gallery {
  font-family: 'Agbalumo';
}
.card-dark {
  border: 1px solid white;
  padding: 15px 15px;
}
.title-gallery-2 {
  color: rgb(87, 0, 168);
  font-family: 'Playfair Display';
}
.card-body h5 {
  font-family: 'Agbalumo';
  text-align: center;
}
.card-body p {
  text-align: center;
}
#gallery {
  padding: 60px 50px 60px 30px;
  background-color: black;
  padding-bottom: 100px;
}
.work h1 {
  font-size: 60px;
}
.card img {
  width: 100%;
}
#work-1 {
  grid-area: work-1;
}
#work-2 {
  grid-area: work-2;
}
#work-3 {
  grid-area: work-3;
}
#work-4 {
  grid-area: work-4;
}
.work-img-item {
  position: relative;
}
.transition {
  transition-delay: 1s;
}
.work-img-item:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500px;
  transition-delay: 1s;
}
#work-1:hover::after {
  content: 'Website Company Profile';
  text-align: center;
}
#work-2:hover::after {
  content: 'Website Portfolio';
  text-align: center;
}
#work-3:hover::after {
  content: 'Simple Aplication Library';
  text-align: center;
}
#work-4:hover::after {
  content: 'FUNDAMENTAL FRONT-END WEB DEVELOPMENT I';
  text-align: center;
}
#work-5:hover::after {
  content: 'LARAVEL X VUE JS (FULLSTACK)';
  text-align: center;
}
#work-6:hover::after {
  content: 'ENGLISH SPEAKING COURSE';
  text-align: center;
}

#work-img-7:hover::after {
  content: 'PERAIH MEDALI PERUNGGU NASIONAL PEKAN OLIMPIADE ILMU SOSIAL';
  text-align: center;
}
#work-img-8:hover::after {
  content: 'PERAIH MEDALI PERUNGGU FUTURE SCIENTIST OLIMPIYAD';
  text-align: center;
}
#work-img-9:hover::after {
  content: 'LULUSAN TERBAIK MAN 2 SUBANG 2023';
  text-align: center;
}
#work-10:hover::after {
  content: 'WORDPRESS CERTIFICATE';
  text-align: center;
}
#work-11:hover::after {
  content: 'MARKETING ONLINE CERTIFICATE';
  text-align: center;
}
#work-12:hover::after {
  content: 'STAF ADMIN CERTIFICATE';
  text-align: center;
}

#project-img {
  margin-top: 400px;
}
body {
  background-color: black;
}
/* CONTACT */
#contact {
  background-color: rgb(36, 36, 88);
}
.title-contact {
  font-family: 'Agbalumo';
}
#contact form {
  border: 2px solid black;
  border-radius: 20px;
  padding: 30px 30px;
  background-color: rgb(175, 173, 169);
}
#contact a {
  text-decoration: none;
}
#contact a:hover {
  color: yellow;
}
.img-icon-ig {
  margin-left: 3px;
}
.btn-send {
  color: white;
  background-color: blue;
  border-radius: 5px;
}
.btn-send:hover {
  background-color: yellow;
  color: black;
}
@media only screen and (max-width: 400px) {
  #about {
    margin-top: -80px;
  }
  #work {
    margin-top: -120px;
  }
  #contact {
    margin-top: -80px;
  }
}
